<div class="offer-wrapper">
    <p class="offer-heading">Special Offers and discounts</p>
    <p class="offer-desc">Best packages in the lowest prices!</p>
    <div class="items-wrapper">
        <div class="item">
            <img src='https://bit.ly/3pkzL92' alt='landscape' class='item-image'/>
            <div class="item-description">
                <div class="text-area">
                    <p>Lorri village</p>
                    <p>3 days 2 nights</p>
                </div>
                <button>Book Now</button>
            </div>
        </div>
            <div class="item">
                <img src='https://bit.ly/32MVLBV' alt='landscape' class='item-image'/>
                <div class="item-description">
                    <div class="text-area">
                        <p>Sevan</p>
                        <p>1 days 1 nights</p>
                    </div>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="item">
                <img src='https://bit.ly/31AtPko' alt='landscape' class='item-image'/>
                <div class="item-description">
                    <div class="text-area">
                        <p>Meghri</p>
                        <p>4 days 3 nights</p>
                    </div>
                    <button>Book Now</button>
                </div>
            </div> 
            <div class="item">
                <img src='https://bit.ly/3Iiq83u' alt='landscape' class='item-image'/>
                <div class="item-description">
                    <div class="text-area">
                        <p>Makhindjauri</p>
                        <p>3 days 2 nights</p>
                    </div>
                    <button>Book Now</button>
                </div>
            </div> 
    </div>
    <button class="more-items">See More</button>
</div>