<div class="blog-wrapper">
    <p class="blog-heading">Stay updated with Spirit</p>
    <p class="blog-desc">Interesting and must read articles just for you</p>
    <div class="blog-items-wrapper">
            <div class="item">
                <img src='https://bit.ly/31snQOz' alt='landscape' class='item-image'/>
              <div class="text-area">
                <p class="heading">Where to go sightseeing ?</p>
                <p class="date">25.11.2021</p>
                <p class="desc">There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.</p>
              </div>
            </div>
            <div class="item">
                <img src='https://bit.ly/3ryXxB2' alt='landscape' class='item-image'/>
                <div class="text-area">
                  <p class="heading">Where to go sightseeing ?</p>
                  <p class="date">25.11.2021</p>
                  <p class="desc">There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.</p>
                </div>
            </div>
            <div class="item">
                <img src='https://bit.ly/31xPdXr' alt='landscape' class='item-image'/>
              <div class="text-area">
                <p class="heading">Where to go sightseeing ?</p>
                <p class="date">25.11.2021</p>
                <p class="desc">There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.There is an amazing village inside the region Kotayk. It is called Not Geghi.</p>
              </div>
            </div>

    </div>
    <button class="more-items">All Blog Posts</button>
</div>
