.destination-wrapper{
    height: max-content;
    background-color: #fefbfb;
    padding: 0 50px;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;

}
.item-image{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.heading {
    padding-top: 50px;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 40px;
    color: #1f3348;
}


.items-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    flex:9;
    flex-wrap: wrap;
}

.item {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}
.item-description {
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-between;
    padding-top: 20px;

}
.text-area > p:nth-child(1) {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
}
.text-area > p:nth-child(2) {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
}
.item-description > button {
    width: 150px;
    color: white;
    background-color: #6347f9;
    border-radius: 7px;
    border:solid 1px #6347f9;
    height:100%;
}

.icons {
    height: 30px;
}
