<div class="offer-wrapper">
    <p class="offer-heading">Special Offers and discounts</p>
    <p class="offer-desc">Best packages in the lowest prices!</p>
    <div class="items-wrapper">
        <div class="item" *ngFor="let tour of tours">
            <img src='{{tour.image}}' alt='landscape' class='item-image' routerLink="/destinations/{{tour.id}}"/>
            <div class="item-description">
                <div class="text-area">
                    <p>{{tour.location}}</p>
                    <p>3 days 2 nights</p>
                </div>
                <button>Book Now</button>
            </div>
        </div>
    </div>
    <button class="more-items" routerLink="/destinations">See More</button>
</div>
