<div class="nav-wrapper">
    <div class="logo-part">
        <p class="main-title">Spirit</p>
    </div>
    <div class="menu">
        <ul>
            <li class="web-page"><a routerLink='home' routerLinkActive="activeLink">Home</a></li>
            <li class="web-page"><a routerLink='destinations' routerLinkActive="activeLink">Destinations</a></li>
            <li class="web-page"><a routerLink='blog' routerLinkActive="activeLink">Blog</a></li>
            <li class="web-page contact"><a routerLink='contact' class="contact-btn" routerLinkActive="activeLink">Contact us</a></li>
        </ul>
    </div>
</div>