<div class="landing-wrapper">
    <div class="left-text-area">
        <p class="heading">Tour your dream destination with Spirit!</p>
        <p class="description">
            Plan and book your amazing roadtrip inside Armenia.We will take care of your journey!
            Beautiful locations, trip experts, tasty food and more.
        </p>
        <button class="discover-class">Discover now</button>
    </div>
    <div class="image-area">
            <img src='https://bit.ly/2ZYLRMI' alt='landscape' class="img">
    </div>
</div>