<div class="step-wrapper">
    <div class="step">
        <img src='../../../../assets/icons/question.png' alt='icon' class="icons"/>
        <p class="title">How it works?</p>
        <p class="desc">Travelling with Spirit is so easy.Follow the steps.</p>
    </div>
    <div class="step">
        <img src='../../../../assets/icons/binoculars.png' alt='icon' class="icons"/>
        <p class="title">Find your tour</p>
        <p class="desc">Take the best location which fits your desired experience</p>
    </div>
    <div class="step">
        <img src='../../../../assets/icons/mail.png' alt='icon' class="icons"/>
        <p class="title">Fill your contacts</p>
        <p class="desc">Let us find your information and get in touch with you</p>
    </div>
    <div class="step">
        <img src='../../../../assets/icons/travel.png' alt='icon' class="icons"/>
        <p class="title">Travel!</p>
        <p class="desc">Enjoy your dream tour with the dream-team !</p>
    </div>
</div>